<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<!--Main Content-->
<div class="container bg-light">
    <div class="jumbotron">
    <h1 class="display-6">welcome to <%= title %> page</h1>
    
  </div>
  </div>

<h1>hhklnlkjkkjkjnl</h1>

<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>