<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->
<body style="color: gold; background-color:black;">
<div class="container bg-light"></div>
  <div class="jumbotron">
  <h1 align="center" class="display-6">Hi, Welcome to the <%= title %> page</h1>
  
  
</div>
</div>
</body>



<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
