<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->
<div class="container bg-light">
  <div class="jumbotron">
  <h1 class="display-6">Welcome to the <%= title %> page</h1>
  <body>
  Hi My name is Yin-Siang Mao
  Currently a student of Software Engineering Technology - AI
  </body>
</div>
</div>

<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>










